# R Spark basics

This notebook shows a few very simple steps with [Spark R](https://spark.apache.org/docs/latest/sparkr.html)

In [1]:
# Load the library
library(SparkR)

Attaching package: ‘SparkR’

The following objects are masked from ‘package:stats’:

    filter, na.omit

The following objects are masked from ‘package:base’:

    intersect, rbind, sample, subset, summary, table, transform

In [4]:
# In the IRkernel we do not have an automatically created Spark Context, as in Python & Scala. 
# We need to initialize the kernel to fetch one
sc <- sparkR.init( "local[*]" );

Launching java with spark-submit command /opt/spark/spark-1.5.2-bin-hadoop2.6/bin/spark-submit   sparkr-shell /tmp/RtmptnfV5c/backend_port19e7458f7969

In [5]:
# Once we have it, we can also obtain an SQL context
sqlContext <- sparkRSQL.init(sc)

In [6]:
# Do something to prove it works
data(iris)
df <- createDataFrame(sqlContext, iris)
head( filter(df, df$Petal_Width > 0.2) )

Warning message:
In FUN(X[[i]], ...): Use Sepal_Length instead of Sepal.Length  as column nameWarning message:
In FUN(X[[i]], ...): Use Sepal_Width instead of Sepal.Width  as column nameWarning message:
In FUN(X[[i]], ...): Use Petal_Length instead of Petal.Length  as column nameWarning message:
In FUN(X[[i]], ...): Use Petal_Width instead of Petal.Width  as column name

  Sepal_Length Sepal_Width Petal_Length Petal_Width Species
1          5.4         3.9          1.7         0.4  setosa
2          4.6         3.4          1.4         0.3  setosa
3          5.7         4.4          1.5         0.4  setosa
4          5.4         3.9          1.3         0.4  setosa
5          5.1         3.5          1.4         0.3  setosa
6          5.7         3.8          1.7         0.3  setosa

In [7]:
# sc is an existing SparkContext.
# hiveContext <- sparkRHive.init(sc)