# Basic Pandas DataFrame operations

A few first steps with [Pandas](http://pandas.pydata.org/pandas-docs/stable/).

We'll create a small dataframe, access its elements, and enlarge it by adding new columns and rows

In [2]:
# Import Pandas & NumPy
import pandas as pd
import numpy as np

In [5]:
# Create a tiny dataset, as a list of tuples
name = ('Oslo','Copenhaguen','Helsinki','Stockholm','Reykjavik')
pop = ( 647676, 583348, 626305, 917297, 121822 )
area = ( 480.76, 86.20, 715.49, 188.0,  273 )
data = [ (1000+i,n,p,s) for i, (n,p,s) in enumerate(zip(name,pop,area)) ]

## 1.1 Creating a DataFrame

In [6]:
# Create the dataframe from the list of tuples. We need to add the names of the columns, plus
# the column(s) we want to be used as row index
df = pd.DataFrame.from_records( data=data, columns=('id','name','population','area'), index=['id'] )

Let's view the dataframe. We can print it:

In [195]:
print df

        area      density         name  population
id
1000  480.76  1347.191946         Oslo      647676
1001   86.20  6767.378190  Copenhaguen      583348
1002  715.49   875.351158     Helsinki      626305
1003  188.00  4879.239362    Stockholm      917297
1004  273.00   446.234432    Reykjavik      121822
1005  159.20  2759.334171      Tallinn      439286
1006  304.00  2108.575658         Riga      641007
1007  401.00  1353.276808      Vilnius      542664

In [ ]:
# See the options we've got for data formatting
pd.describe_option('display')

Or we can just show it, and it will be nicely formatted.
Note the double header: the second header row is for the column(s) forming the DataFrame index.

In [196]:
df

        area      density         name  population
id
1000  480.76  1347.191946         Oslo      647676
1001   86.20  6767.378190  Copenhaguen      583348
1002  715.49   875.351158     Helsinki      626305
1003  188.00  4879.239362    Stockholm      917297
1004  273.00   446.234432    Reykjavik      121822
1005  159.20  2759.334171      Tallinn      439286
1006  304.00  2108.575658         Riga      641007
1007  401.00  1353.276808      Vilnius      542664

In [160]:
print df.shape
print df.index
print df.columns

(5, 3)
Int64Index([1000, 1001, 1002, 1003, 1004], dtype='int64', name=u'id')
Index([u'name', u'population', u'area'], dtype='object')

## 1.2 Fetching columns

In [192]:
df['name']

id
1000           Oslo
1001    Copenhaguen
1002       Helsinki
1003      Stockholm
1004      Reykjavik
1005        Tallinn
1006           Riga
1007        Vilnius
Name: name, dtype: object

In [193]:
# Or also
df.name

id
1000           Oslo
1001    Copenhaguen
1002       Helsinki
1003      Stockholm
1004      Reykjavik
1005        Tallinn
1006           Riga
1007        Vilnius
Name: name, dtype: object

## 1.3 Indexing a DataFrame
### 1.3.1 By index

In [161]:
df.loc[1000]

name            Oslo
population    647676
area          480.76
Name: 1000, dtype: object

In [37]:
df.loc[1002:1003]

           name  population    size
id
1002   Helsinki      626305  715.49
1003  Stockholm      917297  188.00

In [40]:
df.loc[1002:1003,'name':'population']

           name  population
id
1002   Helsinki      626305
1003  Stockholm      917297

### 1.3.2 By position

In [21]:
# Get the first row
df.iloc[0]

name             Oslo
population     647676
area           480.76
density       1347.19
Name: 1000, dtype: object

In [22]:
# Get the last row
df.iloc[-1]

name          Reykjavik
population       121822
area                273
density         446.234
Name: 1004, dtype: object

### 1.3.3 By boolean selection

In [15]:
df[df.area<200]

             name  population   area
id
1001  Copenhaguen      583348   86.2
1003    Stockholm      917297  188.0

In [13]:
df[ (df.area<200) & (df.population>600000) ]

           name  population  area
id
1003  Stockholm      917297   188

In [14]:
# This variant returns the same size as the original dataframe, but fills only the rows that satisty the condition
df.where( df.area<200 )

             name  population   area
id
1000          NaN         NaN    NaN
1001  Copenhaguen      583348   86.2
1002          NaN         NaN    NaN
1003    Stockholm      917297  188.0
1004          NaN         NaN    NaN

### 1.3.4 Random sample

In [16]:
df.sample(n=3)

             name  population    area
id
1001  Copenhaguen      583348   86.20
1000         Oslo      647676  480.76
1003    Stockholm      917297  188.00

## 1.4 Augmenting a DataFrame
### 1.4.1 Adding a column

In [17]:
df.loc[:,'density'] = df.loc[:,'population']/df.loc[:,'area']

In [18]:
df.head()

             name  population    area      density
id
1000         Oslo      647676  480.76  1347.191946
1001  Copenhaguen      583348   86.20  6767.378190
1002     Helsinki      626305  715.49   875.351158
1003    Stockholm      917297  188.00  4879.239362
1004    Reykjavik      121822  273.00   446.234432

### 1.4.2 Adding rows

In [23]:
# Find the next id to insert
next = df.tail(1).index.values[0] + 1

In [24]:
# Create more rows. This time we'll be using a list of dicts
name = ('Tallinn', 'Riga', 'Vilnius')
pop = ( 439286, 641007, 542664 )
size = ( 159.2, 304, 401 )
data2 = { 'id' : range(next,next+len(name)),
         'name' : name, 
         'population' : pop, 
         'area' : size  }
#data = [ {'id':next+i, 'name':n, 'population': p, size:'s' } 
#         for i, (n,p,s) in enumerate(zip(name,pop,size)) ]

In [25]:
# Create the dataframe from the list of dicts
df2=pd.DataFrame( data2 )
# Set the column(s) to be used as the row index in the dataframe
df2.set_index( 'id', inplace=True )
#df2 = pd.DataFrame.from_dict( data )
#df.append( data, ignore_index=True)

In [26]:
df2

       area     name  population
id
1005  159.2  Tallinn      439286
1006  304.0     Riga      641007
1007  401.0  Vilnius      542664

In [27]:
# Now append this set of rows to the original one
df = df.append(df2)
df

        area      density         name  population
id
1000  480.76  1347.191946         Oslo      647676
1001   86.20  6767.378190  Copenhaguen      583348
1002  715.49   875.351158     Helsinki      626305
1003  188.00  4879.239362    Stockholm      917297
1004  273.00   446.234432    Reykjavik      121822
1005  159.20          NaN      Tallinn      439286
1006  304.00          NaN         Riga      641007
1007  401.00          NaN      Vilnius      542664

In [28]:
# See the rows with a missing density value
missing = df[ np.isnan(df.density) ].index

In [29]:
df.loc[missing]

       area  density     name  population
id
1005  159.2      NaN  Tallinn      439286
1006  304.0      NaN     Riga      641007
1007  401.0      NaN  Vilnius      542664

Now let's add the missing densities. First naive attempt:

In [30]:
df.loc[missing].density = df.loc[missing].population/df.loc[missing].area

In [31]:
df.loc[missing]

       area  density     name  population
id
1005  159.2      NaN  Tallinn      439286
1006  304.0      NaN     Riga      641007
1007  401.0      NaN  Vilnius      542664

It didn't work. Why? Because we are selecting in two steps:
* first we get the rows `df.loc[missing]`
* and then we get the column of those rows `df.loc[missing].population`
This is [chained indexing](http://pandas.pydata.org/pandas-docs/stable/indexing.html#returning-a-view-versus-a-copy). And [it fails](http://pandas.pydata.org/pandas-docs/stable/indexing.html#why-does-the-assignment-when-using-chained-indexing-fail) when using it for assignment

So let's try again, using a single-step indexing:

In [32]:
df.loc[missing,'density'] = df.loc[missing,'population']/df.loc[missing,'area']

This time it works:

In [33]:
df.loc[missing].density

id
1005    2759.334171
1006    2108.575658
1007    1353.276808
Name: density, dtype: float64